* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 180px;
  background-color: #F0F0F8;
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0px;
  margin-right: 20px;
  position: sticky;
  top: 0px;
}

.link-menu {
  color: black;
  font-size: 24px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 60px;
  left: 550px;
  gap: 150px;
}

body {
  background-color: #F0F0F8;
}

.carrinho img {
  width: 50px;
  height: auto;
  position: absolute;
  right: 80px;
  top: 80px;
  cursor: pointer;
}

.cabecalho {
  background-color: #F0F0F8;
}

.buscar {
  height: 250px;
  border-radius: 20px;
  padding-left: 5px;
  position: absolute;
  left: 750px;
  top: 200px;
}

.buscar input {
  height: 30px;
  width: auto;
  border-radius: 5px;
  padding-left: 65px;
}

.buscar button {
  background-color: #252A30;
  color: white;
  height: 30px;
  width: 75px;
  border-radius: 5px;
  position: absolute;
  margin-left: 15px;
}

.link-menu a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.link-menu a:hover {
  color: red;
  transition: 0.15s ease-in-out;
}

body.dark-mode {
  background-color: #121212;
  color: white;
}

.produtos {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  padding: 40px;
  margin-top: 300px;
  /* espaço para não colidir com o topo */
  cursor: pointer;
  margin-top: 50px;
}


.produto1 {
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  background-color: #fff;
  transition: transform 0.2s;
}

.produto1:hover {
  transform: scale(1.05);
}

.produto1 img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.produto1 h3 {
  margin: 10px 0 5px;
}

.produto1 p {
  font-size: 14px;
  color: #555;
}

.preco1 {
  display: block;
  margin-top: 70px;
  font-weight: bold;
  font-size: 25px;
  color: #32915A;
}

.produto2 {
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  background-color: #fff;
  transition: transform 0.2s;
}

.produto2:hover {
  transform: scale(1.05);
}

.produto2 img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.produto2 h3 {
  margin: 10px 0 5px;
}

.produto2 p {
  font-size: 14px;
  color: #555;
}

.preco2 {
  display: block;
  margin-top: 60px;
  font-weight: bold;
  color: #e53935;
}

.produto3 {
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  background-color: #fff;
  transition: transform 0.2s;
}

.produto3:hover {
  transform: scale(1.05);
}

.produto3 img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.produto3 h3 {
  margin: 10px 0 5px;
}

.produto3 p {
  font-size: 14px;
  color: #555;
}

.preco3 {
  display: block;
  margin-top: 30px;
  font-weight: bold;
  color: #e53935;
}

.produto4 {
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  background-color: #fff;
  transition: transform 0.2s;
}

.produto4:hover {
  transform: scale(1.05);
}

.produto4 img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.produto4 h3 {
  margin: 10px 0 5px;
}

.produto4 p {
  font-size: 14px;
  color: #555;
}

.preco4 {
  display: block;
  margin-top: 30px;
  font-weight: bold;
  color: #e53935;
}

.produto5 {
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  background-color: #fff;
  transition: transform 0.2s;
}

.produto5:hover {
  transform: scale(1.05);
}

.produto5 img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.produto5 h3 {
  margin: 10px 0 5px;
}

.produto5 p {
  font-size: 14px;
  color: #555;
}

.preco5 {
  display: block;
  margin-top: 30px;
  font-weight: bold;
  color: #e53935;
}

.produto6 {
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  background-color: #fff;
  transition: transform 0.2s;
}

.produto6:hover {
  transform: scale(1.05);
}

.produto6 img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.produto6 h3 {
  margin: 10px 0 5px;
}

.produto6 p {
  font-size: 14px;
  color: #555;
}

.preco6 {
  display: block;
  margin-top: 30px;
  font-weight: bold;
  color: #e53935;
}

.produto7 {
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  background-color: #fff;
  transition: transform 0.2s;
}

.produto7:hover {
  transform: scale(1.05);
}

.produto7 img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.produto7 h3 {
  margin: 10px 0 5px;
}

.produto7 p {
  font-size: 14px;
  color: #555;
}

.preco7 {
  display: block;
  margin-top: 30px;
  font-weight: bold;
  color: #e53935;
}

.produto8 {
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  background-color: #fff;
  transition: transform 0.2s;
}

.produto8:hover {
  transform: scale(1.05);
}

.produto8 img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.produto8 h3 {
  margin: 10px 0 5px;
}

.produto8 p {
  font-size: 14px;
  color: #555;
}

.preco8 {
  display: block;
  margin-top: 30px;
  font-weight: bold;
  color: #e53935;
}

.produto9 {
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  background-color: #fff;
  transition: transform 0.2s;
}

.produto9:hover {
  transform: scale(1.05);
}

.produto9 img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.produto9 h3 {
  margin: 10px 0 5px;
}

.produto9 p {
  font-size: 14px;
  color: #555;
}

.preco9 {
  display: block;
  margin-top: 30px;
  font-weight: bold;
  color: #e53935;
}

html,
body {
  height: auto;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

.produtos span {
  display: block;
  font-weight: bold;
  font-size: 25px;
  color: #32915A;
}

.formulario-login {
  background-color: #F0F0F8;
  display: flex;
  position: absolute;
  display: inline-block;
  top: 200px;
  left: 600px;
  z-index: 1;
  border-radius: 5px;
  padding: 200px;
  visibility: hidden;
  border: solid;
  border-color: black;
}

.formulario-login input {
  height: 35px;
  border-radius: 5px;
  border: 1px solid red;
  padding-left: 5px;
  gap: 25px;
  padding-left: 5px;
  padding: 25px;
  margin-top: 20px;
}

.formulario-login button {
  color: white;
  background-color: #c51111;
  border-radius: 5px;
  border: none;
  width: 200px;
  height: 50px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 30px;
}

.formulario-login h1 {
  color: black;
  font-size: 40px;
  position: absolute;
  top: 150px;
  left: 180px;
}


.link-whatsapp img {
  height: 60px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  transition: transform 0.5s;
}

.link-whatsapp img:hover {
  transform: scale(1.25);
}

.mascara-formulario {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
  z-index: 1;
}

.fechar-formulario {
  height: 30px;
  position: absolute;
  cursor: pointer;
  right: 25px;
  top: 15px;
}

.logo-form {
  height: 130px;
  position: absolute;
  cursor: pointer;
  left: 200px;
  top: 15px;
}

.esqueci-senha {
  font-size: 20px;
  color: black;
  font: bold;
  cursor: pointer;
  position: absolute;
  left: 240px;
  margin-top: 30px;
}

.cadastre-se {
  font-size: 22px;
  font: bold;
  color: black;
  position: absolute;
  left: 190px;
  margin-top: 120px;
  cursor: pointer;
}

.cadastre-se :hover {
  color: red;
  transition: 0.15s ease-in-out;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
    text-align: center;
    padding: 20px;
  }

  .link-menu {
    position: static;
    flex-direction: column;
    gap: 15px;
    padding: 10px 0;
    font-size: 20px;
  }

  .modo-dark img {
    position: static;
    margin: 10px auto;
    display: block;
  }

  .buscar {
    position: static;
    margin-top: 20px;
    margin-bottom: 5px;
    width: 90%;
    text-align: center;
  }

  .buscar input {
    width: 80%;
    padding-left: 10px;
  }

  .buscar button {
    position: static;
    margin-top: 10px;
  }

  .produtos {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .produto1,
  .produto2,
  .produto3,
  .produto4,
  .produto5,
  .produto6,
  .produto7,
  .produto8,
  .produto9 {
    width: 90%;
  }

}

.formulario-cadastro {
  background-color: #F0F0F8;
  display: flex;
  position: absolute;
  display: inline-block;
  top: 200px;
  left: 650px;
  z-index: 1;
  border-radius: 5px;
  padding: 150px;
  visibility: hidden;
  border: solid;
  border-color: black;
}

.formulario-cadastro input {
  height: 35px;
  border-radius: 5px;
  border: 1px solid red;
  padding-left: 5px;
  gap: 25px;
  padding-left: 5px;
  padding: 25px;
  margin-top: 20px;
}

.formulario-cadastro button {
  color: white;
  background-color: #c51111;
  border-radius: 5px;
  border: none;
  width: 200px;
  height: 50px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 30px;
}

.formulario-cadastro h1 {
  color: black;
  font-size: 40px;
  position: absolute;
  top: 120px;
  left: 160px;
}

.formulario-cadastro a {
  font-size: 20px;
  color: black;
  font: bold;
  cursor: pointer;
  position: absolute;
  left: 150px;
  margin-top: 30px;
}

.fechar-cadastro {
  height: 30px;
  position: absolute;
  left: 310px;
  bottom: 125px;
  cursor: pointer;
}
